<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inflectra.Rapise.RapiseLauncher.Branding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Inflectra.Rapise.RapiseLauncher.Branding.Properties.Settings>
            <setting name="App_ApplyBranding" serializeAs="String">
                <value>False</value>
            </setting>
        </Inflectra.Rapise.RapiseLauncher.Branding.Properties.Settings>
    </applicationSettings>
</configuration>